*{
    border: 00px;
    padding: 00px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%; 
    height: 100vh;
    width: 900px;
    box-sizing: border-box;
    border: 6px solid #9e1420; 
    padding: 20px;
}

.body{
font-family: Arial, Helvetica, sans-serif;   
}

.status-bar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
color: black;
font-size: 3rem;
}

.nav-bar{
display: flex;
justify-content: space-between;
align-items: left;
padding: 10px;
font-size: 3rem;
}

.left{
display: flex;
}

.nleft{
    display: flex;
    margin-left: 50px;
    }


.nmiddle{
    display: flex;
    align-items: left;
    margin-right: 290px;
    }

.horizontal-line{
width: 500px;
height: 30px;
background-color: gray;
border-radius: 10px;
}

.artist-image {
display: flex;
justify-content: center;
align-items: flex-start;    
}

.rectangle-box {
display: flex;
justify-content: center;
align-items: center;
width: 400px;
height: 400px;
position: relative;
background-color: gray;
overflow: hidden;
padding-top: 20px;
}

.custom-image{
width: 90%;
height: 300px;
object-fit: cover;  
}

.horizontal-line1{
display: flex;
flex-direction: colum;  
justify-content: center;
align-items: flex-start;
width: 500px;
height: 30px;
background-color: gray;
border-radius: 10px;
margin-bottom: 80px;
margin-top: 50px;  
margin-left: 250px;
}

.horizontal-line2{
display: flex;
flex-direction: colum;  
justify-content: center;
align-items: flex-start;
width: 800px;
height: 30px;
background-color: gray;
border-radius: 10px;
margin-top: 50px;  
margin-right: 100px;
}

.first {
    width: 500px;
    border: 15px solid;
    align-items: left;
    align-content: left;
    border-radius: 10px;
    color: gray;
}

.plusone{
    display: flex;
    flex-direction: row;
    align-content: left;
    text-align: left;
    margin-left: 100px;
}

.plusone11{
    display: flex;
    flex-direction: row;
    align-content: left;
    text-align: left;
    margin-left: 100px;
}

.plusone1{
    font-size: 3rem;
    margin: 0px 30px;
    color: gray;
    
}

.plusone22{
    display: flex;
    flex-direction: row;
    align-content: left;
    text-align: left;
    margin-left: 100px;
}

.first22 {
    width: 700px;
    border: 15px solid;
    border-radius: 10px;
    color: gray;
}

.plusone33{
    display: flex;
    flex-direction: row;
    align-content: left;
    text-align: left;
}

.first14 {
    width: 400px;
    border: 15px solid;
    border-radius: 10px;
    color: gray;
}


.plusone44{
    display: flex;
    flex-direction: row;
    align-content: left;
    text-align: left;
}

.first15 {
    width: 600px;
    border: 15px solid;
    border-radius: 10px;
    color: gray;
}

.plus2{
    width: 700px;
    border: 15px solid;
    border-radius: 10px;
   
    color: gray;
}

